*{
    box-sizing: border-box;
}

html, body {
    font-size: 10px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;

    ::-moz-selection { /* Code for Firefox */
    color: $primary-text-color;
    background: $secondary-brand-lighter-color;
    }

    ::selection {
    color: $primary-text-color;
    background: $secondary-brand-lighter-color;
    }
}

section {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-height: 640px;
    background-color: $primary-bg-color;
    overflow: hidden;
}