$primary-brand-color: #2E88E8;
$primary-bg-color: #101722;
$primary-text-color: #FFFFFF;

$secondary-brand-lighter-color: #43B4F4;
$secondary-brand-darker-color: #1B77DA;
$secondary-text-color: #C5DFFC;
$secondary-bg-color: #141D28;


