
.icon-google {
	background-image: url('png/google.png');
	background-repeat: no-repeat;
}

.icon-insta {
	background-image: url('png/insta.png');
	background-repeat: no-repeat;
}

.icon-scroll-ico {
	background-image: url('png/scroll-ico.png');
	background-repeat: no-repeat;
}

.icon-terra-mini-ico {
	background-image: url('png/terra-mini-ico.png');
	background-repeat: no-repeat;
}

.icon-terra-premium-ico {
	background-image: url('png/terra-premium-ico.png');
	background-repeat: no-repeat;
}

.icon-terra-standard-ico {
	background-image: url('png/terra-standard-ico.png');
	background-repeat: no-repeat;
}

.icon-terraweb {
	background-image: url('png/terraweb.png');
	background-repeat: no-repeat;
}

.icon-arrow-down-ico {
	background-image: url('png/arrow-down-ico.png');
	background-repeat: no-repeat;
}

.icon-arrow-right-ico {
	background-image: url('png/arrow-right-ico.png');
	background-repeat: no-repeat;
}

.icon-fb {
	background-image: url('png/fb.png');
	background-repeat: no-repeat;
}