
.icon-arrow-down {
	background-image: url('png/arrow-down.png');
	background-repeat: no-repeat;
}

.icon-arrow-right {
	background-image: url('png/arrow-right.png');
	background-repeat: no-repeat;
}

.icon-fb {
	background-image: url('png/fb.png');
	background-repeat: no-repeat;
}

.icon-g+ {
	background-image: url('png/g+.png');
	background-repeat: no-repeat;
}

.icon-insta {
	background-image: url('png/insta.png');
	background-repeat: no-repeat;
}

.icon-scroll-ico {
	background-image: url('png/scroll-ico.png');
	background-repeat: no-repeat;
}

.icon-terra-mini-ico {
	background-image: url('png/terra-mini-ico.png');
	background-repeat: no-repeat;
}

.icon-terra-premiumico {
	background-image: url('png/terra-premiumico.png');
	background-repeat: no-repeat;
}

.icon-terra-standard-ico {
	background-image: url('png/terra-standard-ico.png');
	background-repeat: no-repeat;
}

.icon-terraweb-logo {
	background-image: url('png/terraweb-logo.png');
	background-repeat: no-repeat;
}