.button {
    position: relative;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 2.1rem;
    font-size: 1.4em;
    text-align: center;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    height: 4rem;
    width: auto;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    outline: none;
    border: 2px solid transparent;
    white-space: nowrap;
    -webkit-appearance: none;
}

.btn {
    &--primary {
        color: $primary-text-color;
        background-color: $primary-brand-color;  
        box-shadow: -4px 4px 0px rgba(46, 136, 232, 0.4);
        transition: all .3s ease-in-out;
        cursor: pointer;
        &:hover {
           transform: translate(2px, -2px);
           box-shadow: -8px 8px 0px rgba(46, 136, 232, 0.3); 
        }
        
        &:active,
        &:focus {
           transform: translate(-2px, 2px);
           box-shadow: -0px 0px 0px rgba(46, 136, 232, 0.3); 
        }
    }
}

