.site-section {

    &__section-title {
        box-sizing: border-box;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 10%;
        padding: 32px;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom: 3px solid $primary-brand-color;
            border-left: 3px solid $primary-brand-color;
            width: 45%;
            height: 45%;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            border-top: 3px solid $primary-brand-color;
            border-right: 3px solid $primary-brand-color;
            width: 45%;
            height: 45%;
        }
    }

    &__aside {
        position: relative;
        height: auto;
        width: 426px;
        margin-left: 92px;

        &__tiles {
            position: relative;
            box-sizing: border-box;
            background-color: $secondary-bg-color;
            width: 100%;
            min-height: 128px;
            padding: 24px 32px 24px 40px;
            margin-bottom: 24px;

            &:last-of-type {
                margin-bottom: 0;
            }
            
            &__title {
                margin-bottom: 16px;
                position: relative;
                z-index: 1;
                &:before{
                    content: "";
                    position: absolute;
                    z-index: -1;
                    background-color: transparent;
                    border: 3px solid $primary-brand-color;
                    left: -8px;
                    top: 1px;
                    height: 1rem;
                    width: 1rem;
                }
                &:after {
                    content: "";
                    position: absolute;
                    z-index: -2;
                    background-color: transparent;
                    border: 3px solid $primary-brand-color;
                    left: -12px;
                    top: 5px;
                    height: 1rem;
                    width: 1rem;
                    opacity: .5;
                }

                

            }

            &__paragraph {
                color: $secondary-text-color;
                opacity: 0.7;
            }
        }
    }
}