.section-06 {
    height: auto;
    max-height: none;
    .image--under {
        background: url(../images/neptun-image.png);
        background-attachment: none;
        background-size: contain;
        background-repeat: no-repeat;
       
   }
}