.site-section {
    background-color: $primary-bg-color;
    position: relative;
    max-height: 812px;
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;  
        background-image: url('../images/earth-image.png');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            min-width: 320px;
            min-height: 640px;
            opacity: .9;
            background: linear-gradient(
                119.35deg, #13171C 0%,
                 rgba(19, 23, 28, 0) 100%);

        }
    }

    &__info-wrapper {
        position: relative;
        height: auto;
        width: auto;
        top: 34%;
        right: 50%;
       ;
       
        &__h1 {
            position: relative;
            width: 44rem;
            height: auto;
            margin-right: 0;
            margin-left: auto;
            text-align: right;
    
            .distinction-color {
                color: $primary-brand-color;
            }
        }
    
        &__paragraph {
            position: relative;
            display: inline-block;
            margin-top: 5rem;
            text-align: right;
            white-space: nowrap; 
            margin-right: 3.2rem;

            &:before {
                content: "";
                position: absolute;
                width: 12.8rem;
                height: .3rem;
                background-color: $primary-text-color;
                top: -1.6rem;
                right: 0;
            }
        }

        &__cta {
            position: relative;
            display: block;
            height: auto;
            width: auto;
            text-align: right;
        }

        &__btn {
            position: relative;
            display: inline-block;
            top: -0.8rem;
            margin-right: 0;
            margin-left: auto;
        }

        &__number {
            position: relative;
            left: -1rem;
            top: 0;
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 700;
            line-height: 6.4rem;
            font-size: 8.1rem;
            text-align: right;
            color: $primary-text-color;
            opacity: 0.05;
        }
    }

    @media (max-width: 1199px) {
        &__info-wrapper {
            right: 40%;
        }
    }
    
    @media (max-width: 1024px) {
        &__info-wrapper {
            right: 30%;
            
            &__paragraph {
                display: block;
                margin-right: 0;
            }

            &__btn {
                top: 0;
                display: block;
                margin-top: 3.2rem;
            }
        }
    }
    
    @media (max-width: 765px) {
        &__info-wrapper {
            width: 32rem;
            right: 0;
            left: 50%;
            transform: translateX(-50%);
            

            &__h1 {
                font-size: 3.2rem;
                line-height: normal;
                width: 100%;
                max-width: 36rem;
            }

            &__number {
                font-size: 6.8rem;
            }
        }
    }
    
    @media (max-width: 419px) {
        &__info-wrapper {
            width: 80%;

            &__h1 {
                font-size: 3.2rem;
                font-size: 7.5vw;
                width: 100%;
            }
            
            &__paragraph {
                font-size: 1.2rem;
            }

            &__number {
                font-size: 5rem;
                font-size: 18vw;
                line-height: 3.2rem;
            }


        }
    }
    
    @media (max-width: 319px) {
          &__info-wrapper {
          
            &__h1 {
                font-size: 2rem;
                font-size: 7.5vw;  
            }

            &__paragraph {
                font-size: 10px;
                font-size: 3.2vw;
            }

              &__number {
                font-size: 5rem;
                font-size: 18vw;
            }

            &__btn {
                font-size: 12px;
                font-size: 3.8vw;
                width: 100%;
                
            }
        }
    }
    
}

